#mapid {
    margin-top: 15px;
    height: 340px;
}
.selected {
    color: red;
}
tbody#internal_table_body {
    
    overflow: auto;
}
tbody#external_table_body {
   
    overflow: auto;
}
.table {
    
}